# Replace example.com with your application's domain
cors.tctcontabil.com.br {
  # node-app:8080 is the docker container running the Node.js application
  # in our case it's exposed on port 8080
  reverse_proxy node-app:8080  {
    header_down Strict-Transport-Security max-age=31536000;
   }
}